name: Tests

# push と pull request イベント毎にGtihubのWorkflowを起動する
on:
  - push
  - pull_request

jobs:
  # ジョブの名称
  test_with_tox:
    name: build (Python ${{ matrix.python-version }}, Django ${{ matrix.django-version }})
    runs-on: ubuntu-latest

    # 並列して実行する各ジョブのPythonバージョン
    strategy:
      fail-fast: false
      max-parallel: 5
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
        django-version: ['4.2', '5.2']
        exclude:
          - python-version: '3.13'
            django-version: '4.2'
          - python-version: '3.14'
            django-version: '4.2'

    steps:
    # ソースコードをチェックアウト
    - uses: actions/checkout@v6

    # ジョブのPython環境を設定
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    # Github Actionsからtoxを実行するために必要なパッケージをインストール
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install tox tox-gh-actions

    # Github Actionsからtoxを実行
    - name: Test with tox
      run: |
        tox -v
      env:
        DJANGO: ${{ matrix.django-version }}
